{% extends 'base.html' %}
{% load static %}

{% block extra_headers %}
<link rel="stylesheet" href="{% static 'home/css/style.css' %}"
      {% endblock %}
      {% block content %}
      {% for product in products %}
<div class="card" style="width: 18rem;">
    <img src="{{ product.img.url }}" class="card-img-top" alt="...">
    <div class="card-body">
        <a class="card-title" href="{{ product.get_absolute_url }}">{{ product.name }}</a>
    </div>
</div>
{% endfor %}
{% endblock content %}